doctype html
html
    head
        title p0n9
        style
            include ../public/css/style.css
    body
        //form(action = "/", method = "POST")
        //    div
        //        label(for = "say") Say:
        //        input(name = "say" value = "Hi")
        //    br
        //    div
        //        label(for = "to") To:
        //        input(name = "to" value = "Express forms")
        //    br
        //    button(type = "submit") Send my greetings
        div(id="content")
            div.row
                article#games.half
                    h1 Games
                    ul(id="gameTable")
                article#newRoom.half
                    h1 Create a new room
                    button(id="new_room") New Room

        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="/js/web.js")
